@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /***scrollbar***/
  
  /* width */
  body::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  body::-webkit-scrollbar-track {
    box-shadow:inset 0 0 3px grey;
  }

  /* Handle */
  body::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-gradientFrom to-gradientTo;
  }

  /***end of scrollbar***/

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    @apply bg-bgColor dark:bg-darkBgColor text-textColor dark:text-darkTextColor tracking-wide
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-2xl sm:text-3xl
  }

  h3 {
    @apply text-xl sm:text-2xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-md shadow-shadowColor rounded-xl uppercase bg-effectColor opacity-[0.9] text-white outline-none
  }

  input{
    @apply bg-white text-textColor disabled:bg-darkTextColor2 disabled:text-white
  }

  /* Marker tweaks */
  .mapboxgl-popup {
    padding-bottom: 35px;
    @apply shadow-shadowColor drop-shadow-lg
  }

  .mapboxgl-popup .mapboxgl-popup-close-button {
    display: none;
  }

  .mapboxgl-popup .mapboxgl-popup-tip {
    margin-inline: -1px;
  }

  .mapboxgl-popup .mapboxgl-popup-content {
    padding: 0;
    width: fit-content;
    border-radius: 17px;
  }

}